.detailSlider {
  width: 100%;
  position: relative;
}

.detailSlider .swiper {
  position: static;
}

.detailSlider_swiper {
  /* width: 320px; */
  height: 325px;
  border-radius: 1.5rem;
}

/* @media only screen and (max-width: 550px) {
    height: 300px !important;
    border: 2px solid #f5385d;
  } */

.detailImg_slider {
  width: 100%;
}

.detailImg_slider img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/*========================= Testimonial=====================*/

.detailSlider_swiper .swiper-button-prev:after,
.detailSlider_swiper .swiper-button-next:after {
  font-size: 10px;
  font-weight: 700;
  color: #f5385d;
}

.swiper-pagination-bullet {
  background-color: #aaa;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}

/* .detailSlider_swiper .swiper-button-prev:hover,
.detailSlider_swiper .swiper-button-next:hover,
.detailSlider_swiper .swiper-button-prev:hover:after,
.detailSlider_swiper .swiper-button-next:hover:after {
  background: #222;
  color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 1);
} */

.detailSlider_swiper .swiper-button-prev,
.detailSlider_swiper .swiper-button-next {
  background: #fff;
  box-shadow: 0px 0px 10px rgba(15, 27, 51, 0.2);
  top: 54%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(#f5385d, 1);
  z-index: 20;
  align-items: center;
  justify-content: center;
  display: none;
  /* transition: all 300ms; */
}

.placeCard {
  cursor: pointer;
}

.placeCard:hover .detailSlider_swiper .swiper-button-prev {
  display: flex;
}
.placeCard:hover .detailSlider_swiper .swiper-button-next {
  display: flex;
}

.detailSlider_swiper .swiper-button-prev {
  left: 6%;
}

.detailSlider_swiper .swiper-button-next {
  right: 6%;
}

@media only screen and (max-width: 550px) {
  .swiper {
    position: static;
  }

  .detailSlider_swiper .swiper-button-prev,
  .detailSlider_swiper .swiper-button-next {
    top: 54%;
  }
  .detailSlider_swiper .swiper-button-prev {
    left: 6%;
  }
  .detailSlider_swiper .swiper-button-next {
    right: 6%;
  }
}
